[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
[submodule "cloudflare-stats-worker"]
	path = cloudflare-stats-worker
	url = https://github.com/Zakkaus/cloudflare-stats-worker.git
