{{- $ctx := .ctx -}}
{{- $item := .item -}}
<div>
  <div class="cursor-pointer flex items-center nested-menu">
    {{ if $item.Pre }}
      <span {{ if and $item.Pre $item.Name }}class="mr-1"{{ end }}>
        {{ partial "icon.html" $item.Pre }}
      </span>
    {{ end }}
    {{ $url := partial "header/menu-url" (dict "item" $item "ctx" $ctx) }}
    <a
      {{ if $url }}
        href="{{ $url }}"
        {{ if or (strings.HasPrefix $url "http:" ) (strings.HasPrefix $url "https:" ) }}
          target="_blank" rel="noopener"
        {{ end }}
      {{ end }}
      class="text-base font-medium hover:text-primary-600 dark:hover:text-primary-400"
      title="{{ $item.Title }}">
      <p>
        {{ $item.Name | markdownify }}
      </p>
    </a>
    <span>
      {{ partial "icon.html" "chevron-down" }}
    </span>
  </div>
  <div class="absolute menuhide">
    <div class="pt-2 p-5 mt-2 rounded-xl backdrop-blur shadow-2xl">
      <div class="flex flex-col space-y-3">
        {{ range $item.Children }}
          {{ partial "header/header-option-simple.html" (dict "item" . "ctx" $ctx) }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
