{{- $ctx := .ctx -}}
{{- $item := .item -}}
{{- $url := partial "header/menu-url" (dict "item" $item "ctx" $ctx) -}}
<li class="mb-1">
  <a
    href="{{ $url }}"
    {{ if or (strings.HasPrefix $url "http:" ) (strings.HasPrefix $url "https:" ) }}target="_blank" rel="noopener"{{ end }}
    class="flex items-center">
    {{ if $item.Pre }}
      <span {{ if and $item.Pre $item.Name }}class="mr-3"{{ end }}>
        {{ partial "icon.html" $item.Pre }}
      </span>
    {{ end }}
    <p class="text-sm font-sm" title="{{ $item.Title }}">
      {{ $item.Name | markdownify }}
    </p>
  </a>
</li>
