{{- $item := .item -}}
{{- $ctx := .ctx -}}
{{- $url := "" -}}

{{- with $item.URL -}}
  {{- $url = . -}}
{{- else -}}
  {{- with $item.Page -}}
    {{- $url = .RelPermalink -}}
  {{- else -}}
    {{- with $item.PageRef -}}
      {{- $clean := . | strings.TrimPrefix "/" | strings.TrimSuffix "/" -}}
      {{- if eq $clean "" -}}
        {{- $url = relLangURL "/" -}}
      {{- else -}}
        {{- $url = relLangURL (printf "/%s/" $clean) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if and (eq $url "") $item.Identifier -}}
  {{- with $ctx.Site.GetPage (dict "path" $item.Identifier "lang" $ctx.Lang) -}}
    {{- $url = .RelPermalink -}}
  {{- end -}}
{{- end -}}

{{- if eq $url "" -}}
  {{- with $ctx.Site.GetPage (dict "path" "/" "lang" $ctx.Lang) -}}
    {{- $url = .RelPermalink -}}
  {{- else -}}
    {{- $url = relLangURL "/" -}}
  {{- end -}}
{{- end -}}

{{- $url -}}
